.code-container {
  position: relative;
}

.code-editor {
  width: 100%;
  height: 200px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  font-family: monospace;
  padding: 10px;
  color: #333;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  border-radius: 4px;
  resize: none; /* Optional: Disable resizing */
}

button.copy {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 5px 10px;
}

#profilersTable .tracking {
  right: 0;
}

.profiler-items {
  height: 650px;
  overflow: scroll;
  scrollbar-color: #ffc107 #000;
}
